.border-radious-1{
    border-radius: 35% 65% 86% 14% / 30% 30% 70% 70% ;
}
.border-radious-2{
    border-radius: 59% 41% 27% 73% / 68% 30% 70% 32%  ;
}
.border-radious-3{
    border-radius: 23% 77% 67% 33% / 44% 54% 46% 56%  ;
}
.border-radious-4{
    border-radius: 17% 83% 19% 81% / 78% 15% 85% 22%  ;
}
.border-radious-5{
    border-radius: 91% 9% 93% 7% / 12% 85% 15% 88%   ;
}